.button {
  background-color: #1690f8;
  border: none;
  color: #fff;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50px;
}
.heading {
  margin: 5px;
  text-align: center;
  font-size: 18px;
  color: #483d8b;
  cursor: pointer;
}
.heading:hover {
  font-size: 18.2px;
  text-decoration: underline;
  color: #403779;
}
body {
  margin: auto;
  width: 400px;
}
.btn {
  max-width: 230px;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}
.search {
  display: flex;
  background-image: url(./img/bg.png);
  background-size: 100% 100%;
  max-width: 230px;
  height: 93px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
.searchBtn {
  width: 90px;
  margin: 5px;
  margin-top: 50px;
}
.share {
  margin: 30px 30px 20px 30px;
  width: 90px;
  height: auto;
}
.icn {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  width: 120px;
  height: auto;
}
.a {
  font-weight: bolder;
  color: #4432b9;
  cursor: pointer;
}
.a:hover {
  text-decoration: underline;
  color: red;
}
.btn:hover,
.searchBtn:hover {
  transform: scale(1.03);
  cursor: pointer;
}
.text {
  font-size: 12px;
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
  font-family: Verdana;
}
.dev {
  margin: none;
  padding: none;
  background-color: rgba(188, 182, 216, 0.335);
  height: 30px;
}
.text2 {
  font-size: 16px;
  text-align: center;
  margin: auto;
  font-family: sans-serif;
}
.icn:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.share:hover {
  transform: scale(1.04);
  cursor: pointer;
}
.column1 {
  float: left;
  width: 250px;
}
.column2 {
  float: left;
  width: 150px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
